@media only screen and (max-width: 412px) {
    /* body {
        background-color: red;
    } */

    /* html,
    body {
        width: 100%;
        overflow-x: hidden;
    } */

    h5 {
        font-size: 0.9rem;
    }

    /* home */
    .nav-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        gap: 1em;
        right: 0;
        width: 0;
        z-index: 7;
        padding: 6em 0;
        height: 100vh;
        flex-direction: column;
        background: rebeccapurple;
        transition: width 1s linear , padding 1s linear;
    }
    nav:hover .nav-menu{
        width: 9em;
        cursor: pointer;
        visibility: visible;
        padding: 6em 2em;
    }

    .hidden {
        visibility: visible;
        right: 44px;
    }

    .hidden i {
        font-size: 2rem;
    }

    .leftsection {
        height: 71%;
        width: 84%;
    }

    .leftsection>div {
        line-height: 35px;
    }

    .leftsection h1 {
        font-size: 2.6rem;
        line-height: 31px;
    }

    /* about */
    #About {
        width: 100%;
        height: auto;
        background-color: #14191a;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        gap: 25px;
    }

    h2 {
        margin-top: 62px;
    }

    .About-menu {
        width: 85%;
        height: 80%;
        flex-direction: column;

    }

    .profie {
        width: 100%;
        height: 17em;
        background-color: #052926;
        border: none;
        border-radius: 11px;
        position: relative;
        bottom: 2px;
    }

    .profie img {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: inherit;
        bottom: 0px;
    }

    .details {
        width: 100%;
        height: 51%;
        justify-content: unset;
        margin: 14px 0 12px;
        flex-direction: column;
        position: relative;
        padding: 16px;
    }

    .common {
        width: 11em;
    }

    .common h5 {
        font-size: 0.6rem;
    }

    .details #tab-1 div {
        margin-top: 8px;
    }

    /* .details {
        width: 100%;
        height: 96%;
        justify-content: unset;
        margin: 44px 0 49px;
        flex-direction: column;
        position: relative;
    } */


    /* service */

    #Service {
        height: 209vh;
        justify-content: space-around;
    }

    .service-container {

        height: 80%;
        gap: 30px;
        flex-direction: column;
        margin-bottom: 74px;
    }

    .service-item {
        width: 100%;
    }

    /* skill */
    #Skill {
        height: 92vh;
    }


    .using-learning-other {
        max-width: 100%;
    }

    /* Contaxt me */

    #Contact {
        height: 90vh;
        gap: 9px;
        justify-content: unset;
    }

    #Contact h2 {
        margin: unset;
    }


    #Contact form {
        width: 70%;
        gap: 7px;
        height: 60%;
        grid-template-columns: 1fr;
    }

    #Email,
    #Name,
    #message,
    #Submit {
        grid-column: 1;
    }


}


@media only screen and (min-width : 413px) and (max-width :600px) {

    /* home */
    .nav-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        gap: 1em;
        right: 0;
        width: 0;
        z-index: 7;
        padding: 6em 0;
        height: 100vh;
        flex-direction: column;
        background: rebeccapurple;
        transition: width 1s linear , padding 1s linear;
    }
    nav:hover .nav-menu{
        width: 9em;
        cursor: pointer;
        visibility: visible;
        padding: 6em 2em;
    }

    .hidden {
        visibility: visible;
        position: absolute;
        right: 44px;
    }

    .hidden i {
        font-size: 2rem;
    }

    .leftsection h1 {
        font-size: 2.8rem;
        line-height: 36px;
    }

    .leftsection>div {
        line-height: 35px;
    }

    .icons {
        margin: unset;
    }

    /* About  */

    #About {
        width: 100%;
        height: 180vh;
        background-color: #14191a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    h2 {
        margin-top: 62px;
    }

    .About-menu {
        width: 85%;
        height: 100%;
        flex-direction: column;

    }

    .profie {
        width: 100%;
        height: 100%;
        background-color: #052926;
        border: none;
        border-radius: 11px;
        position: relative;
        bottom: 2px;
    }

    .profie img {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: inherit;
        bottom: 0px;
    }

    .details {
        width: 100%;
        height: 51%;
        justify-content: unset;
        margin: 14px 0 12px;
        flex-direction: column;
        position: relative;
        padding: 16px;
    }

    .details #tab-1 div {
        margin-top: 8px;
    }

    .common {
        width: min-content;
        line-height: 22px;
    }

    #tab-1 {
        width: 98%;
    }

    /* service  */

    #Service {
        height: 227vh;
        justify-content: space-around;
    }

    .service-container {

        height: 80%;
        gap: 30px;
        flex-direction: column;
        margin: 37px 0 115px;
    }

    .service-item i {
        font-size: 3.5rem;
    }

    .service-item {
        width: 93%;
    }

    .service-item p {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 2rem;
    }

    /* skill */
    #Skill {
        height: 85vh;
    }

    .using-learning-other {
        max-width: 100%;
    }

    /* Contaxt me */

    #Contact {
        height: 90vh;
        gap: 9px;
        justify-content: unset;
    }

    #Contact form {
        width: 70%;
        gap: 7px;
        height: 60%;
        grid-template-columns: 1fr;
    }

    #Email,
    #Name,
    #message,
    #Submit {
        grid-column: 1;
    }
}

@media only screen and (min-width :601px) and (max-width :900px) {

    /* nav bar  */

    nav {
        justify-content: space-evenly;
    }

    .nav-menu {
        width: 64%;
        gap: 10px;
    }

    /* about  */
    #About {
        width: 100%;
        height: 162vh;
    }

    .About-menu {
        width: 85%;
        height: 64%;
        justify-content: space-between;
    }

    .profie {
        width: 29%;
        height: 52%;
    }

    .profie img {
        height: 100%;
    }

    .details {
        width: 67%;
        height: 100%;
    }


    /* service  */

    #Service {
        width: 100%;
        height: 133vh;
        justify-content: space-evenly;
    }

    .service-container {
        width: 84%;
        height: 76%;
        flex-wrap: wrap;
        gap: 23px;
    }

    .service-item {
        width: 47%;
        height: 258px;
    }


    #Contact {
        height: 111vh;
    }

    #Contact form {
        width: 70%;
        height: 61%;
    }

}